<a href="https://colab.research.google.com/github/mmartigani/IA/blob/main/clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primer Clase De Inteligencia Artificial

In [1]:
print("hola mundo");

hola mundo

In [3]:
mi_nombre="marco";
print(mi_nombre);

marco

In [4]:
print("hola", mi_nombre);

hola marco

In [5]:
numero_uno=20;
numero_dos=10;
numero_uno + numero_dos

30

Tipos De Variables
Numericos:int 

1.   Numericos:int 
2.   textos: string
3.   fecha y Hora 
4.   Objetos: Dataframes

In [6]:
import pandas as pd

In [8]:
pd.DataFrame([[2,3],[4,5],[1,3]])

   0  1
0  2  3
1  4  5
2  1  3

In [10]:
tabla1=pd.DataFrame([[2,3],[4,5],[1,3]])

In [11]:
tabla1

   0  1
0  2  3
1  4  5
2  1  3

In [13]:
tabla1.columns=['columna1', 'columna2']

In [14]:
tabla1

   columna1  columna2
0         2         3
1         4         5
2         1         3

muestra la columna1

In [15]:
tabla1.columna1

0    2
1    4
2    1
Name: columna1, dtype: int64

suma

In [16]:
tabla1.columna1.sum()

7

valor maximo

In [17]:
tabla1.columna2.max()

5

valor minimo

In [18]:
tabla1.columna2.min()

3

Seleccionar la Fila 2

In [19]:
tabla1.iloc[2,]

columna1    1
columna2    3
Name: 2, dtype: int64

entre los corchetes el primer valor que , 
le pasamos es el numero de la fila , y el 
segundo valor es el de la columna.-

In [20]:
tabla1.iloc[2,0]

1

In [21]:
print("muy buena clase");

muy buena clase